<app-currency-input
  *ngFor="let converter of converters"
  [currentConverter]="converter"
  [currency]="currency"
  [canDelete]="converters.length > 2"
  (currencyInputChange)="onCurrencyInputChange($event)"
  (converterDelete)="onConverterDelete($event)"
></app-currency-input>
<button class="currency-btn" (click)="addConverter()">Добавить конвертер</button>

<app-currency-info
  [currency]="currency"
  [popularRates]="popularRates"
  (walletChange)="updatePopularRates($event)"
></app-currency-info>
