p {
  display: block;
  //color: #3cb0fd;
}
.currency-list {
  list-style-type: none;
  list-style-position: outside;
  -webkit-padding-start: 0;
  width: 300px;
}
.currency-list__item {
  padding: 10px;
  border-bottom: 2px solid #dddddd;
  text-align: center;
}

.currency-info__header,
.currency-info__list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.currency-list__item {
  color: #000000;
}
app-currency-dropdown {
  width: 50%;
}
.currency-wallet {
  float: left;
  text-align: left;
}
.currency-type-toggler {
  margin-top: 10px;
  //color: #3cb0fd;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  padding-bottom: 0;
  margin: 0 10px;
}
.switch input {display:none;}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ffdd2d;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
input:checked + .slider {
  background-color: #ffdd2d;
}
input:focus + .slider {
  box-shadow: 0 0 1px #fadf1c;
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}
.currency {
  opacity: 0.5;

}
.targeted-currency {
  opacity: 1.0;
}
