<div class="currency-input">
  <input
    class="currency-input__input"
    type="text"
    [value]="format(currentConverter?.walletValue, SEPARATOR)"
    [formControl]="inputValueControl"
    (blur)="onBlur($event)"
  >
  <app-currency-dropdown
    [currentCurrency]="currentConverter"
    [currency]="currency"
    (currencyChange)="onWalletChange($event)"
  ></app-currency-dropdown>
  <span
    (click)="deleteInput($event)"
  >❌</span>
</div>
<!--
<input type="text" [value]="unConvertedValue" [formControl]="inputValueControl">
<select (change)="onValetChange($event.target.value)">
  <option
    *ngFor="let valet of valets"
    [value]="valet.valet"
    [selected]="valet.valet === currentValet"
  >{{valet.valet}}</option>
</select>

<select (change)="onWalletChange($event.target.value)">
    <option
      *ngFor="let wallet of currency"
      [value]="wallet?.walletName"
      [selected]="wallet?.walletName === currentConverter?.walletName"
    >{{wallet?.walletName}}</option>
  </select>


-->
