<div class="currency-input">
  <div class="currency-input__input">
    <input
      type="text"
      [value]="format(currentConverter?.walletValue, SEPARATOR)"
      [formControl]="inputValueControl"
    >
  </div>
  <div class="currency-input__dropdown">
    <app-currency-dropdown
      [currentCurrency]="currentConverter"
      [currency]="currency"
      (currencyChange)="onWalletChange($event)"
    ></app-currency-dropdown>
  </div>
  <div class="currency-input__delete-btn"
    (click)="deleteInput($event)"
  >❌</div>
</div>
