.dropdown {
  position: relative;
  display: inline-block;
  width: 100%;
}
.dropdown-btn {
  /*background: #34d955;*/
  /*background-image: -webkit-linear-gradient(top, #34d955, #7bb82b);*/
  /*background-image: -moz-linear-gradient(top, #34d955, #7bb82b);*/
  /*background-image: -ms-linear-gradient(top, #34d955, #7bb82b);*/
  /*background-image: -o-linear-gradient(top, #34d955, #7bb82b);*/
  /*background-image: linear-gradient(to bottom, #34d955, #7bb82b);*/
  background: #ffdd2d;
  background-image: -webkit-linear-gradient(top, #ffdd2d, #fadf1c);
  background-image: -moz-linear-gradient(top, #ffdd2d, #fadf1c);
  background-image: -ms-linear-gradient(top, #ffdd2d, #fadf1c);
  background-image: -o-linear-gradient(top, #ffdd2d, #fadf1c);
  background-image: linear-gradient(to bottom, #ffdd2d, #fadf1c);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  color: #000000;
  font-size: 20px;
  padding: 10px 15px 10px 15px;
  text-decoration: none;
}

.dropdown-btn:hover {
  /*background: #34d955;*/
  /*background-image: -webkit-linear-gradient(top, #34d955, #01b726);*/
  /*background-image: -moz-linear-gradient(top, #34d955, #01b726);*/
  /*background-image: -ms-linear-gradient(top, #34d955, #01b726);*/
  /*background-image: -o-linear-gradient(top, #34d955, #01b726);*/
  /*background-image: linear-gradient(to bottom, #34d955, #01b726);*/
  /*text-decoration: none;*/
}
.dropdown-btn:after {
  content: "\25BC";
  font-size: 15px;
}


.dropdown-content {
  display: none;
  padding: 0;
  margin: 0;
  right: 0;
  position: absolute;
  background-color: #f9f9f9;
  width: 250px;
  max-height: 200px;
  overflow-y: scroll;
  /*box-shadow: 5px 5px 12px 1px rgba(52, 217, 85, 1);*/
  box-shadow: 5px 5px 12px 1px rgba(255, 221, 45, 1);
  border-radius: 20px;
  z-index: 1;

  -webkit-box-shadow: 0px 0px 10px 0px rgba(255, 221, 45, 1);
  -moz-box-shadow: 0px 0px 10px 0px rgba(255, 221, 45, 1);
  box-shadow: 0px 0px 10px 0px rgba(255, 221, 45, 1);

  background:
    /* Shadow covers */
    linear-gradient(white 30%, rgba(255,255,255,0)),
    linear-gradient(rgba(255,255,255,0), white 70%) 0 100%,

      /* Shadows */
    radial-gradient(farthest-side at 50% 0, rgba(0,0,0,.2), rgba(0,0,0,0)),
    radial-gradient(farthest-side at 50% 100%, rgba(0,0,0,.2), rgba(0,0,0,0)) 0 100%;
  background-repeat: no-repeat;
  background-color: white;
  background-size: 100% 40px, 100% 40px, 100% 14px, 100% 14px;

  /* Opera doesn't support this in the shorthand */
  background-attachment: local, local, scroll, scroll;
}
.dropdown-content__item {
  /*color: #3cb0fd;*/
  list-style-type: none;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-bottom: 1px solid #dddddd;
}
.dropdown-content__item:hover {
  background-color: #f2fff4;
}
.dropdown:hover .dropdown-content{
  display: block;
}
.dropdown:hover .dropdown-btn:after {
  content: "\25B2";
  font-size: 15px;
}
