/* You can add global styles to this file, and also import other style files */
body {
  font-family: "Helvetica Neue";
  font-weight: 300 !important;
  font-size: 20px;
  color: #000000;
  /*color: #34d955 !important;*/
}
